torch==2.3.1
torchvision==0.18.1
numpy==1.26.4
requests==2.32.3
flwr==1.8.0
web3==6.20.1
eth-account==0.11.3
pydantic==2.8.2
psutil==6.0.0
fastapi==0.112.2
uvicorn==0.30.6
transformers==4.44.2
huggingface_hub==0.24.5
cryptography==43.0.1
datasets==2.21.0
